* {
    margin: 0;
    box-sizing: border-box;
}



header {
    background-color: rgb(241 238 228);
}

.header_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}



#log {
    background-color: rgb(42 25 13);
    color: white;
    height: 2em;
    font-size: 15px;
    border-radius: 4%;
}

#forgetit a {
    color: none;
}

#section1 {
background-image: url(/images/background_1.png);
width: 100%; 
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.Register {
    padding: 16px;
    width: 70%;
    background-color: rgb(241 238 228);
  }

  /* Full-width input fields */
  #email2, #psw2, #psw-repeat {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
  }
  
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: rgb(42 25 13);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }

  #orsignin {
      width: 70%;
      background-color:black;
      color: blanchedalmond;
  }

  #orsignin img {
      width: 7%;
  }



/**SECTION 2**/
#section2 {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    align-content: center;
}

.lists {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list1, li{
    margin-top: 30px;
    margin-bottom: 30px;
    list-style: none;
}

.list2, li{
    margin-top: 30px;
    list-style: none;
}
 
#annual12 {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    background-color: rgb(241 238 228);
  }

  #nominees {
      background-color: rgb(254 207 85);
      width: 7%;
      height: 40px;
      position: absolute;
      margin-top: 80px;

}

#newsandinterview {
    width: 50%;

}

#newsandinterview {
    padding: 10px;
    display: flex;
}
















/**SECTION 3**/

#section3 {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    display: flex;
}
#cols {
    display: flex;
    width: 50%;
    margin: 10px;
}




#section4 {
    margin: auto;
    width: 80%;
    display: flex;
    margin-top: 20px;
}

#goodbooksrecoomend {
    margin: 20px;
}


footer {
    background-color: rgb(241 238 228);
    display: flex;
    margin-top: 100px;
}

.foot {
    color: rgb(99 99 99);
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 20px;
}

.company {
    margin: 10px;
}

.workwithus {
    margin: 10px;
}

.connect {
    margin: 10px;
}

.stores img {
    margin: 10px;
    width: 40%;
}
  



@media screen and (max-width: 600px) {
    #grid-flex .grid-item {
      flex-basis: 1;
      flex-direction: column;
    }
  } 
  